dashboardAddon10.json
[
    {
        "id": "55adbf8504b30978",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT1",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "7443ca85701436fc",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT2",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "41c7510be7e2d2e9",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT3",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "1aac456b638f8e35",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 4,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT4",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "48953d9b625b0611",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT5",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "095b90340560e654",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 6,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT6",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "e063ab81f012db4a",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 7,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT7",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "dafd39cd5337686a",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 8,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT8",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b93ddfe615e1e75",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT9",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "4f4a5a976771c283",
        "type": "ui_gauge",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 10,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "BigData&IoT10",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "142f6fa6b6e545cb",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "272d78ecb6de0508",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 420,
        "wires": [
            [
                "142f6fa6b6e545cb"
            ]
        ]
    },
    {
        "id": "4b6e617e0cce5ede",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 460,
        "wires": [
            [
                "780f42ff30176ced"
            ]
        ]
    },
    {
        "id": "780f42ff30176ced",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a08b7b78a1bbaa26",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 876.9999694824219,
        "y": 504.9999408721924,
        "wires": [
            [
                "e1039c3294d680e3"
            ]
        ]
    },
    {
        "id": "e1039c3294d680e3",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1036.9999694824219,
        "y": 504.9999408721924,
        "wires": [
            []
        ]
    },
    {
        "id": "c0cf1b1e8ec642ac",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 876.9999694824219,
        "y": 544.9999408721924,
        "wires": [
            [
                "6d5fb8f352f03a6f"
            ]
        ]
    },
    {
        "id": "6d5fb8f352f03a6f",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 19,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1036.9999694824219,
        "y": 544.9999408721924,
        "wires": [
            []
        ]
    },
    {
        "id": "779a6d39a9e33877",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 580,
        "wires": [
            [
                "cf23d4de6adbacec"
            ]
        ]
    },
    {
        "id": "cf23d4de6adbacec",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 20,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d2789f985e970e4d",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 620,
        "wires": [
            [
                "5ebf36ce508fc33f"
            ]
        ]
    },
    {
        "id": "5ebf36ce508fc33f",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 21,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT6",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4a50c3e1994d7295",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 660,
        "wires": [
            [
                "b84a08196a474b2e"
            ]
        ]
    },
    {
        "id": "b84a08196a474b2e",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 22,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT7",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "0cfdfde194ff2d0a",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 700,
        "wires": [
            [
                "465ad798a14cacd9"
            ]
        ]
    },
    {
        "id": "465ad798a14cacd9",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 23,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT8",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5e2490b0016e8d0c",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 740,
        "wires": [
            [
                "072712f841e80903"
            ]
        ]
    },
    {
        "id": "072712f841e80903",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 24,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT9",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cd17b37bbeb3947a",
        "type": "function",
        "z": "e1b28f82ea600c98",
        "name": "",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 780,
        "wires": [
            [
                "96f566638ad6eb34"
            ]
        ]
    },
    {
        "id": "96f566638ad6eb34",
        "type": "ui_chart",
        "z": "e1b28f82ea600c98",
        "name": "",
        "group": "d6a88caded07fbd1",
        "order": 25,
        "width": 0,
        "height": 0,
        "label": "BigData&IoT10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2c6e78842eb00507",
        "type": "switch",
        "z": "e1b28f82ea600c98",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "iotbigdata1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iotbigdata10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 573.0000305175781,
        "y": 215.00005912780762,
        "wires": [
            [
                "55adbf8504b30978",
                "272d78ecb6de0508"
            ],
            [
                "7443ca85701436fc",
                "4b6e617e0cce5ede"
            ],
            [
                "41c7510be7e2d2e9",
                "a08b7b78a1bbaa26"
            ],
            [
                "1aac456b638f8e35",
                "c0cf1b1e8ec642ac"
            ],
            [
                "48953d9b625b0611",
                "779a6d39a9e33877"
            ],
            [
                "095b90340560e654",
                "d2789f985e970e4d"
            ],
            [
                "e063ab81f012db4a",
                "4a50c3e1994d7295"
            ],
            [
                "dafd39cd5337686a",
                "0cfdfde194ff2d0a"
            ],
            [
                "0b93ddfe615e1e75",
                "5e2490b0016e8d0c"
            ],
            [
                "4f4a5a976771c283",
                "cd17b37bbeb3947a"
            ]
        ]
    },
    {
        "id": "d6a88caded07fbd1",
        "type": "ui_group",
        "name": "Default",
        "tab": "eb56923217c6c647",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb56923217c6c647",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]