sensorDataToGooglePubSub.json
[{"id":"73c8fb7f.d33074","type":"mqtt in","z":"189f13b0.68e87c","name":"","topic":"sensordata","qos":"0","datatype":"auto","broker":"77c013f3.6cc87c","nl":false,"rap":true,"rh":0,"x":1200,"y":960,"wires":[["dce5f54f.f995c8"]]},{"id":"dce5f54f.f995c8","type":"json","z":"189f13b0.68e87c","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":960,"wires":[["4a019c37.c1c0b4","c88e5aa7.7e3068","3b9d7d4d.402412","71311196.4607f","17ad051c.2204cb"]]},{"id":"ad410ee.7f421f","type":"google-iot-core out","z":"189f13b0.68e87c","name":"","qos":"","retain":"","broker":"7e21ea01.87c394","x":1780,"y":960,"wires":[]},{"id":"4a019c37.c1c0b4","type":"function","z":"189f13b0.68e87c","name":"CreateIOTCoreJson","func":"msg.payload = {\"name\":msg.payload.name,\"light\":msg.payload.light,\"temperature\":msg.payload.temperature,\"humidity\":msg.payload.humidity,\"datetime\":(new Date()).toISOString()}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":960,"wires":[["ad410ee.7f421f"]]},{"id":"77c013f3.6cc87c","type":"mqtt-broker","name":"LocalMQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e21ea01.87c394","type":"google-iot-core-broker","name":"Raspi-Device","broker":"mqtt.googleapis.com","port":"443","tls":"ea8e16d0.bba958","clientid":"projects/raspihomesystem/locations/europe-west1/registries/iotcore-registry/devices/raspi-device","projectid":"raspihomesystem","registryid":"iotcore-registry","deviceid":"raspi-device","region":"europe-west1","keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":"","persistout":true,"persistin":false,"compactinterval":"30"},{"id":"ea8e16d0.bba958","type":"tls-config","name":"","cert":"/home/pi/rsa_cert.pem","key":"/home/pi/rsa_private.pem","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]